.navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
    color: white; 
}

#about {
    padding: 50px 0;
}

#about img {
    max-height: 100%;
    width: 400px; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}


.bg-lightgray {
    background-color: #d3d3d3; 
  }

.navbar {
    background-color: #6A0000; 
}
.modal-body {
    overflow-y: auto;
    max-height: 80vh; 
}

.navbar-nav .nav-link {
    color: white; 
}

.navbar-nav .nav-item.active .nav-link {
    background-color: #6A0000;
    color: white; 
}

header { 
    color: #6A0000; 
    padding: 5rem 0; 
}

header h1 {
    color: #6A0000; 
}

:root {
    --bordeaux: #8B0000;
    --lightGray: #F8F8F8; 
    --darkGray: #333333; 
}

.bg-light {
    background-color: var(--lightGray);
}

body {
    color: var(--darkGray);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--bordeaux);
}

a {
    color: var(--bordeaux);
    text-decoration: none;
}

a:hover {
    color: #FF0000; 
}

.btn-primary {
    background-color: var(--bordeaux);
    border-color: var(--bordeaux);
    color: #FFFFFF; 
}

.btn-primary:hover {
    background-color: #FF0000; 
    border-color: #FF0000; 
}

#about {
    text-align: center;
}

.bg-bordeaux {
    background-color: #6A0000; 
    color: #ffffff; 
}


#about h2 {
    margin-bottom: 10px;
}

#about p.lead {
    margin-bottom: 10px;
}

#infrastructure {
    padding: 20px; 
}


#services {
    padding: 20px; 
}


#facilities {
    padding: 20px; 
}

#about {
    padding: 10px;
    padding-bottom: 10px !important 
}

#aims {
    padding: 10px;
    margin-top: 10px !important;
    padding-top: 5px !important 
}

#objectives {
    padding: 10px;
    margin-top: 10px !important;
    padding-top: 5px !important 
}

#infrastructure {
    padding: 10px;
    margin-top: 10px !important;
    padding-top: 5px !important 
}

#services {
    padding: 10px;
    margin-top: 10px !important;
    padding-top: 5px !important 
}

#facilities {
    padding: 10px;
    margin-top: 10px !important;
    padding-top: 5px !important 
}

#team {
    padding: 10px;
    margin-top: 10px !important;
    padding-top: 5px !important 
}

#contact {
    padding: 10px;
    margin-top: 10px !important;
    padding-top: 5px !important 
}

.contact-item h5.card-title {
    margin-bottom: 5px; 
}

#services {
    background-color: #ffffff;

}

#team {
    background-color: #f7f7f7;
    padding: 30px;
}

.navbar-nav a.nav-link {
    cursor: pointer;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.navbar-nav a.nav-link:hover {
    color: #fff; /* Schimbă culoarea textului la survol */
    background-color: rgba(0, 0, 0, 0.2); /* Schimbă culoarea fundalului la survol */
}

.img-portfolio {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.image-container {
    margin-bottom: 10px;
}

.img-portfolio:hover {
    transform: scale(1.05);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

  
body, p {
    font-family: 'Open Sans', sans-serif;
}

 .card-img-top {
    height: 400px; 
    object-fit: cover; 
}

    
@media (max-width: 768px) {
.navbar-nav a.nav-link {
     font-size: 14px;
}

header {
     padding: 60px 0;
}
    
.navbar-nav a.nav-link img {
    width: 20px;
    height: 20px;
     margin-right: 10px;
}
    
.card-img-top {
    height: 250px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
   
}

@media (min-width: 992px) {
    
}

.card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

body, p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px; 
}

